.interior-state {
  fill:#b8bfac;
  stroke:#f5f8ef;
}
.exterior-state {
  fill:#b8bfac;
  stroke:none;
}
.watermark {
  cursor: pointer;
  fill: #c0c0c0;
  stroke: #bdbdbd;
  stroke-width:0.5;
}

.site-dot {
  stroke:#2c5258;
  stroke-linecap:round;
  stroke-width:3;
  opacity:0.7;
}

.gage-count-bar{
  opacity:0.4;
  fill: #9BC1BC;
}
.selected-year{
  opacity:1;
  fill: #ED6A5A;
}

.selected-doy{
  opacity:1;
  fill: #ED6A5A;
}

.doy-polyline {
  fill:none;
  stroke:#e0e0e0;
}

.axis-labels {
  font-size: 8px;
  font-family: Arial;
}

.years-rect {
  fill:red;
  stroke:none;
  opacity:0;
}

.years-rect:hover {
  opacity:1.0;
}

.axis-labels{
  fill:#909090;
  stroke:none;
  font-size: 0.75em;
}
#y-axis, #x-axis{
  stroke: #909090;
}
.context-label{
  fill:#c0c0c0;
  stroke:none;
  font-size: 0.75em;
}

.total-hydrograph {
  fill:none;
  stroke:#e0e0e0;
  stroke-width:0.5;
}


.svg-text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	cursor: default;
}

