.doy-polyline {
  fill:none;
  stroke:#e0e0e0;
}

.axis-labels {
  font-size: 8px;
  font-family: Arial;
}

.years-rect {
  fill:red;
  stroke:none;
  opacity:0;
}

.years-rect.selected-year{
  opacity: 1.0;
}

.years-rect:hover {
  opacity:1.0;
}

.total-hydrograph {
  fill:none;
  stroke:#e0e0e0;
  stroke-width:0.5;
}

.year-bar {
  opacity : 0.3;
}

