*{
	padding:0; margin:0;
}

a{
  text-decoration:none;
  cursor:pointer;
  font-weight:normal;
}

a:hover{
  text-decoration:underline;
}

body{
  font-family:sans-serif;
}

.doy-polyline {
  fill:none;
  stroke:#e0e0e0
}

.hidden {
  opacity: 0;
}
.shown {
  z-index: 100;
  opacity: 1;
}
.tooltip-box{
  stroke: none;
  opacity: 0.85;
  fill: white;
}